.calendar-main{
  /* background-color: #F2F2F2; */
  width: 90%;
  margin: 3% auto;

}
.fc-theme-standard{
  height: 600px;
  background: white;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  padding: 10px;
  border-radius: 10px;
}
.fc .fc-button-primary {
  background-color: transparent;
  color: #000;
  /* margin: 2px; */
  border: none;
  font-size: 18px;
  color: gray;
  border-color: #fff;
}
.fc .fc-button-primary:hover{
  color: #548DFF;
  background-color: transparent;
  border: none;
}


.fc-toolbar-chunk div{
  display: flex;
  width: 300px;
  gap: 30px;
  justify-content: center;
}
.fc .fc-toolbar-title{
  font-size: 40px;
  color: #548DFF;
}

/* td, tr, th{border: none !important;}
.fc .fc-daygrid-day-frame{margin: 10px !important; background-color: #548DFF;} */
tr{
  margin: 5px !important;
}
/* td,th{
  background-color: white !important;
} */
.fc-col-header-cell{padding: 10px !important}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
  height: 100px !important;
  overflow: hidden;
}

.fc-daygrid-day-events:hover{
  /* background-color: red; */
}
.fc-daygrid-day-events:has(.fc-daygrid-event-harness) ,.fc-daygrid-day-events ~ .fc-daygrid-day-top{
  background: #5599FF;
  color: white;
  font-size: 19px;
}
.fc-daygrid-day:has(.fc-daygrid-event-harness){
  background-color: #5599FF;
}
.fc-daygrid-day:has(.fc-daygrid-event-harness) .fc-daygrid-day-top a{
  color: white;
  font-size: 16px;
}
.fc-theme-standard td{
  border: 15px solid var(--fc-border-color, #EFF4F4);
}
.fc-theme-standard th{
  border: none;
  border-bottom: 15px solid var(--fc-border-color,#EFF4F4);
}
thead .fc-scroller{
  overflow: hidden !important;
}

.fc-day-other{
  background-color: #F4F7F7;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start{
  height: 30px;
}
/* 
.fc .fc-button-primary:focus{
  background-color: white !important;
  border: none !important;
} */

.fc-event-main div p{ line-height: 0;}